.track {
	width: 100%;
	border: 1px solid #e5e7ea;
	box-sizing: border-box;
	background-color: #f7f9fa;
}

.track .slider {
	width: 42px;
	height: 42px;
	border: 1px solid #e5e7ea;
	background-color: var(--backgroundColor);
	box-sizing: border-box;
	box-shadow: 1px 0px 10px #e5e7ea;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.track .slider::before {
	content: '';
	width: 14px;
	height: 2px;
	background-color: var(--arrow);
	display: block;
	border-radius: 2px;
	transform: translateX(4.7px);
}
.track .slider::after {
	content: '';
	width: 8px;
	height: 8px;
	border-top: 2px solid var(--arrow);
	border-right: 2px solid var(--arrow);
	display: block;
	transform: translateX(-42.54%) rotateZ(45deg);
	border-radius: 2px;
}
